.instagram {
  background: rgba($color: #000000, $alpha: 0.03);
  padding-top: 48px;
  padding-bottom: 50px;
}
.instagram__header {
  float: left;
  &::after {
    clear: left;
  }
}

.instagram__link {
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $accent-color;
  float: right;
  line-height: 1.3;
  padding-right: 0;
  @include addSuffix;
  &:hover {
    color: $accent-color;
  }
}
.instagram-image-container {
  clear: both;
  display: flex;
  justify-content: space-between;

  gap: 8px;
  overflow: hidden;
  @media screen and (max-width: $medium-screen-width) {
    justify-content: center;
  }
}
.instagram-image-link {
  border: none;
  padding: 0;

  &:hover {
    border: none;
  }
}

.instagram-image {
  width: 100%;
  max-width: 285px;
  aspect-ratio: 1;
  object-fit: cover;
  vertical-align: bottom;
}
