@media screen and (max-width: $medium-screen-width) {
  .wrapper {
    // max-width: $medium-screen-page-wrapper-width;
  }
  .menu {
    padding: 0 83px;
    height: 106px;
  }
  .posts {
    padding-top: 59px;
    padding-bottom: 62px;
  }
  .posts__header {
    padding-bottom: 25px;
  }

  .posts__container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .post {
    max-width: 600px;
    width: auto;
  }
  .post__header {
    padding-bottom: 3px;
  }
  .post__author {
    padding-top: 7px;
  }
  .instagram {
    padding-top: 47px;
    padding-bottom: 50px;
  }
  .instagram__header {
    padding-bottom: 36px;
  }
  .instagram__link {
    line-height: 1.4;
  }
  .instagram-image-container {
    justify-content: flex-start;
    gap: 10px;
  }

  .instagram-image-link {
    &:last-child {
      display: none;
    }
  }
  .instagram-image {
    width: 100%;
    max-width: 249px;
  }
  .footer {
    padding-top: 59px;
    padding-bottom: 60px;
  }
  .footer__header {
    padding-bottom: 18px;
  }

  .footer__contacts-container {
    padding-left: 9px;
  }
  .social-links {
    padding-bottom: 33px;
  }

  .contacts__address {
    margin-left: 8px;
  }
}
@media screen and (max-width: $small-screen-width) {
  .wrapper {
    // max-width: $small-screen-page-wrapper-width;
  }

  .section-header {
    font-size: 14px;
  }
  .section-header-md {
    display: none;
  }
  .section-header-sm {
    display: initial;
  }
  .posts {
    padding-top: 42px;
  }
  .posts__container {
    row-gap: 21px;
  }
  .post {
    &:last-child {
      display: none;
    }
  }
  .posts__header {
    padding-bottom: 24px;
  }
  .post__image {
    float: none;
    margin-bottom: 0;
  }

  .post__header {
    font-size: 14px;
    padding-top: 15px;
  }
  .post__author,
  .post__comments-count {
    font-size: 11px;
  }

  .post__review {
    display: none;
  }
  .instagram {
    background: rgba($color: #000000, $alpha: 0.0001);
    padding-top: 10px;
    padding-bottom: 42px;
  }
  .instagram__header {
    padding-bottom: 15px;
  }
  .instagram__link {
    display: none;
  }
  .instagram-image-container {
    justify-content: center;
  }
  .instagram-image-link {
    &:not(:first-child) {
      display: none;
    }
  }
  .instagram-image {
    max-width: 301px;
    width: 100%;
  }
  .footer {
    padding-top: 42px;
    padding-bottom: 41px;
    font-size: 14px;
  }
  .footer-wrapper {
    max-width: 300px;
  }
  .footer__header {
    padding-bottom: 7px;
  }
  .footer__text {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 22px;
    padding-right: 0;
  }
  .footer__text-md {
    display: none;
  }
  .social-links {
    padding-bottom: 19px;
  }
  .social-link__container {
    padding-right: 2px;
  }
  .social-link {
    padding-top: 8px;
  }

  .contacts {
    line-height: 1.77;
  }

  .footer__divider {
    padding-right: 0.8em;
    @include addBreakLine;
  }
}
