@media screen and (max-width: $header-menu-toggle-width) {
  .menu {
    position: absolute;
    display: block;
    right: 0;
    width: 182px;
    height: auto;
    text-align: left;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    visibility: collapse;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    &.menu--active {
      opacity: 1;
      visibility: visible;
    }
  }

  .menu__link {
    display: block;
    padding: 10px 10px 7.5px 12px;
    border: none;
    transition: background-color 0.5s;

    &:hover {
      border: none;
      background-color: #e5e5e5;
    }
    &--active,
    &--active:hover {
      color: #57a4a4;
      background-color: inherit;
    }
  }
  .burger-menu-button {
    display: inline-block;
  }
}

@media screen and (max-width: $medium-screen-width) {
  .header-nav {
    margin: 34px 0 35px 0;
  }
}
@media screen and (max-width: $small-screen-width) {
  .header-nav {
    margin: 23px 0;
  }
}
