@mixin addPrefix {
  &:before {
    content: "-";
    padding: 0 3px 0 0;
  }
}
@mixin addSuffix {
  &:after {
    content: "-";
    padding: 0 0 0 3px;
  }
}
@mixin addBreakLine {
  &:after {
    content: "\A";
    white-space: pre;
  }
}
