<header class="header wrapper outer-wrapper">
	<nav class="header-nav">
		<button class="burger-menu-button header__burger-menu">
			<span class="burger-menu__line"></span>
		</button>
		<ul class="menu header__menu">
			<li class="menu__item"><a class="link menu__link menu__link--active">Home</a></li>
			<li class="menu__item"><a class="link menu__link" href="#">About Us</a></li>
			<li class="menu__item"><a class="link menu__link" href="#">Our Journal</a></li>
			<li class="menu__item"><a class="link menu__link" href="#">Projects</a></li>
			<li class="menu__item"><a class="link menu__link" href="#">news</a></li>
			<li class="menu__item"><a class="link menu__link" href="#">features</a></li>
			<li class="menu__item"><a class="link menu__link" href="#">contact</a></li>
		</ul>


	</nav>
</header>