<section class="posts wrapper outer-wrapper">
	<h2 class="section-header posts__header">our Recent posts</h2>
	<div class="posts__container">
		@@include("post.html",{
		"imgUrl":"../../img/news/post4.jpg","imgAlt":"Tea",
		})@@include("post.html",{
		"imgUrl":"../../img/news/post2.jpg","imgAlt":"Rain",
		})@@include("post.html",{
		"imgUrl":"../../img/news/post1.jpg","imgAlt":"Cafe",
		})@@include("post.html",{
		"imgUrl":"../../img/news/post3.jpg","imgAlt":"Flowers",
		})

	</div>




</section>